body {
    background-color: #c9d6df;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.grid1 {
    display: grid;
    grid-template-columns: repeat(3, .4fr) ;
    grid-gap: 3em;
    margin: 10em;
    margin-top: -.1em;
    text-align: justify;
}

div.grid2 {
    display: grid;
    grid-template-columns: repeat(3, .4fr) ;
    grid-gap: 3em;
    margin: 10em;
    margin-top: -.1em;
    text-align: justify;
}

div.grid3 {
    display: grid;
    grid-template-columns: repeat(3, .4fr) ;
    grid-gap: 3em;
    margin: 10em;
    margin-top: -.1em;
    text-align: justify;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 1em;
    color: #222831;
}

h1 {
    color: #1e2022;
    text-transform: uppercase;
    font-size: 35pt;
    margin-top: 3em;
}

.grid1 h3 {
    color: #212121;
    border-bottom: 3px solid rgb(203, 231, 11);
    border-bottom-right-radius: 20%;
    display: inline-block;
    margin: 0;
}

.grid2 h3 {
    color: #212121;
    border-bottom: 3px solid rgb(231, 89, 148);
    border-bottom-right-radius: 20%;
    display: inline-block;
    margin: 0;
}

.grid3 h3 {
    color: #212121;
    border-bottom: 3px solid rgb(110, 160, 224);
    border-bottom-right-radius: 20%;
    display: inline-block;
    margin: 0;
}

#highlighter-yellow {
    background-color: rgb(213, 228, 117);
}

#highlighter-pink {
    background-color: rgb(231, 89, 148);
}

#highlighter-blue {
    background-color: rgb(110, 160, 224);
}